<!-- <header>
  <div *ngIf="auth.isAuthenticated()" class="user-profile" style="float: right;">
    <div class="monogram">XX</div>
    <div class="user-menu">
      <a class="pointer" routerLink="/profile">{{profile?.nickname}}</a>
      <a class="pointer" *ngIf="auth.isAuthenticated()" (click)="auth.logout()"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>&nbsp;Logout</a>
      <a><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp;Settings</a>
    </div>
  </div>
  <div *ngIf="auth.isAuthenticated()" class="alert-notification" style="float: right;">
    <div class="alert-icon">
      <i class="fa fa-bell-o fa-2x fa-inverse" aria-hidden="true"></i>
    </div>
  </div>
  <div class="hamburger" onclick="slideMenuOpen(menuState);" *ngIf="auth.isAuthenticated()">
    <div class="hamburger-icon">
      <i id="faHamburgerIcon" class="fa fa-bars fa-2x fa-inverse"></i>
    </div>
  </div>
  <div class="corporateBranding">
    <div class="corporate-mark"><a routerLink="/" class="pointer">FNF Online Payment System</a></div>
  </div>
  <ng2-slim-loading-bar [height]="'2px'" [color]="'lime'" class="clearfix"></ng2-slim-loading-bar>
</header>





        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container-fluid">

                    <!-- Logo container-->
                    <div class="logo">
                        <!-- Text Logo -->
                        <a href="index.html" class="logo">
                            <span class="logo-small"><img src="assets/fnf_logo_trans.fw.png" alt="Fidelity National Financial" style="max-width: 45px;"></span>
                            <span class="logo-large"><img src="assets/fnf_logo_trans.fw.png" alt="Fidelity National Financial" style="max-width: 45px;"> EasyPay</span>
                        </a>
                        <!-- Image Logo -->
                        <!--<a href="index.html" class="logo">-->
                        <!--<img src="assets/images/logo_dark.png" alt="" height="24" class="logo-lg">-->
                        <!--<img src="assets/images/logo_sm.png" alt="" height="24" class="logo-sm">-->
                        <!--</a>-->

                    </div>
                    <!-- End Logo container-->


                    <div class="menu-extras topbar-custom">

                        <ul class="list-inline float-right mb-0">

                            <li class="menu-item list-inline-item">
                                <!-- Mobile menu toggle-->
                                <a class="navbar-toggle nav-link">
                                    <div class="lines">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                <!-- End mobile menu toggle-->
                            </li>
                        </ul>
                    </div>
                    <!-- end menu-extras -->

                    <div class="clearfix"></div>

                </div> <!-- end container -->
            </div>
            <!-- end topbar-main -->
                    <div class="navbar-custom"><!--  *ngIf="auth.isAuthenticated()" -->
                <div class="container-fluid">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">
                            <li><a routerLink='home' title="Home"><!-- <i class="ti-home fa fa-home fa-2x fa-inverse fa-fw"></i> -->Home</a></li>
                            <li><a routerLink='profile' title="Profile"><!-- <i class="ti-light-bulb"></i> -->Profile</a></li>
                            <li><a routerLink='login' title="Login"><!-- <i class="ti-spray"></i> -->Login</a></li>
                            <li><a routerLink='register' title="Registration"><!-- <i class="ti-files"></i> -->Registration</a></li>
                            <li><a routerLink='password' title="Password"><!-- <i class="ti-gift"></i> -->Password</a></li>
                            <li><a routerLink='logout' title="Logout"><!-- <i class="ti-gift"></i> -->Logout</a></li>
                        </ul>
                        <!-- End navigation menu -->
                    </div> <!-- end #navigation -->
                </div> <!-- end container -->
            </div> <!-- end navbar-custom -->
            </header>    
