<h2 class="center">Forgot Password</h2><br>
<form class="form-signin" role="form" name="f" id="frm" method="post" novalidate="novalidate">
  <input type="hidden" name="" value="">
  <input type="email" id="email" name="email" class="form-control" placeholder="Email Address" title="Email Address" style="margin-bottom: 10px">
  <button class="btn btn-primary btn-block btn-lg ladda-button" data-style="expand-right" type="submit" id="submit">
    <span class="ladda-label">Submit</span>
    <span class="ladda-spinner"></span>
  </button>
</form>
<div id="successMessage" style="display: none;" class="col-xs-12 blue nexa-light">
  <div class="jumbotron">
    <p class="lead">
      You will receive an email with the password reset instructions. If you do not receive an
      email within 15 minutes, please call the
      Enterprise Service Desk at 888-435-7313.
    </p>
  </div>
</div>
