<div class="container" style="margin-bottom: 150px">
    <br/><br/>
    <h2 class="center">Forgot Password</h2><br>
    <form class="form-signin" role="form" name='f' id="frm" method="post">
        <input type="hidden" name="" value=""/>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email Address"
               title="Email Address" style="margin-bottom: 10px">
        <button class="btn btn-primary" data-style="expand-right" type="submit"
                id="submit">
            <span >Submit</span>
        </button>
    </form>
    <div id="successMessage" style="display: none;" class="col-xs-12 blue nexa-light">
        <div class="jumbotron">
            <p class="lead">You will receive an email with the password reset instructions. If you do not receive an
                email within 15 minutes, please call the
                Enterprise Service Desk at 888-435-7313.</p>
        </div>
    </div>
</div>
